@import '../../common/theme.css';

.page-header {
  background: var(--wet-asphalt);
  display: flex;
  justify-content: space-between;

  & .logo {
    margin: 10px;
    font-size: 1.1rem;
    color: var(--pomegranate);
    line-height: 40px;
    text-shadow: 0 0 0 1px #000000;
  }
}
