.page-header {
  background: #00C853;
  display: flex;
  justify-content: space-between;
}

.page-header .logo {
  margin: 10px;
  font-size: 1.1rem;
  color: #fff;
  line-height: 40px;
  text-shadow: 0 0 0 1px #000;
}
